html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --logo-color: black;
  --primary-white-color: #FFFFFF;
  --background-color: #2F303A;
  --button-start-color: #F5F4FA;
  --btn-start-color: #AFB1B8;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section.no-padding {
  padding-top: 0;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: scale(0.9);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.section-title-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.gallery-list-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-nav {
  display: flex;
  align-items: center;
}

.nav-site {
  display: flex;
  margin-left: 93px;
}

.nav-site .item {
  margin-right: 50px;
}
.nav-site .nav-site .item:last-child {
  margin-right: 0px;
  margin-left: 0px;
}

.nav-site .link {
  display: block;
  font-weight: medium;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-site .link.current {
  color: var(--accent-color);
}

.link.current {
  position: relative;
}

.link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background: #2196F3;
  border-radius: 2px;
  position: absolute;
}

.link {
  color: var(--title-text-color);
  font-weight: 500;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover, .link:focus {
  color: var(--accent-color);
}

.contact-site .link.weight {
  font-weight: 500;
  color: var(--primary-text-color);
}

.link.weight {
  display: flex;
  align-items: center;
  margin-left: 30px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link.weight:first-child {
  margin-right: 0px;
}
.link.weight:hover, .link.weight:focus {
  color: var(--accent-color);
}

.container.contact-site {
  position: relative;
  border-bottom: 4px;
  display: flex;
  align-items: center;
}

.contact-site.item {
  display: flex;
  margin-left: auto;
  align-items: flex-end;
  padding-top: 32px;
  padding-bottom: 32px;
}

.item-tel {
  margin-right: 10px;
  fill: currentColor;
}

.page-header {
  border-bottom: 1px solid #ECECEC;
}

.button-primery {
  font-family: inherit;
  cursor: pointer;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  border-radius: 6px;
  padding: 6px 25px;
  border: 1px var(--accent-color);
  text-align: center;
  min-width: 216px;
  min-height: 50px;
  transition: background-color, color;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-primery:hover, .button-primery:focus {
  color: var(--title-text-color);
  background-color: var(--primary-white-color);
}

.button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primary-white-color);
  cursor: pointer;
  fill: #000000;
}

.submit-button {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 40px;
  font-family: "Roboto";
  cursor: pointer;
  background-color: var(--accent-color);
  border: transparent;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  width: 200px;
  height: 50px;
  transition: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.submit-button:focus, .submit-button:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-telegram {
  display: flex;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-left: 12px;
  gap: 10px;
  cursor: pointer;
  fill: var(--primary-white-color);
}

.list-button__item--accent {
  font-family: inherit;
  cursor: pointer;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  border-radius: 6px;
  padding: 6px 25px;
  border: 1px var(--accent-color);
  text-align: center;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.list-button__button {
  font-family: inherit;
  cursor: pointer;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--button-start-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  transition: background-color, box-shadow, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.list-button__button:hover, .list-button__button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.staff__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  background-color: var(--primary-white-color);
  border-radius: 50%;
  color: #AFB1B8;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.staff__btn:hover, .staff__btn:focus {
  background-color: var(--accent-color);
}
.staff__btn:hover .thumb, .staff__btn:focus .thumb {
  fill: var(--primary-white-color);
}

.thumb {
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.thumb:hover, .thumb:focus {
  fill: var(--primary-white-color);
}

.logo {
  color: var(--logo-color);
  font-family: Raleway, cursive;
  font-style: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo__accent {
  color: var(--accent-color);
}

.logo--footer {
  color: var(--primary-white-color);
  text-decoration: none;
}

.hero {
  background-color: var(--background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  background-color: var(--background-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header.jpg);
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  color: var(--primary-white-color);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 1;
  transition: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: scale(0.9);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  height: 581px;
  width: 528px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: var(--primary-white-color);
}

.icon-close {
  fill: currentColor;
  transition: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close:hover, .icon-close:focus {
  fill: var(--accent-color);
}

.modal-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 40px;
  margin-bottom: 12px;
}

.form-modal {
  width: 100%;
  height: 40px;
  background: transparent;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-modal:focus {
  border: 1px solid var(--accent-color);
}
.form-modal:focus + .icon-contact {
  fill: var(--accent-color);
}

.form-name {
  text-align: start;
  font-size: 12px;
}

.modal-icon {
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}

.icon-contact {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-general {
  display: flex;
  flex-direction: column;
  padding: 2px 40px 41px 39px;
}

.form-comment {
  margin-top: 4px;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  font-family: "Roboto";
  font-style: normal;
  color: var(--title-text-color);
  transition: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  resize: none;
}
.form-comment:focus {
  border: 1px solid var(--accent-color);
}
.form-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}

.checkbox-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.policy-text {
  color: var(--accent-color);
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.model-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-left: 7px;
}

.check-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox:checked + .icon {
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-size: 72%;
  background-repeat: no-repeat;
  background-origin: border-box;
  border-color: #2196F3;
  background-position: center;
}

.icon {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 1px solid var(--title-text-color);
}

.feature__list {
  display: flex;
  gap: 30px;
}

.feature__container {
  height: 120px;
  width: 270px;
  background-color: #F5F4FA;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.feature__title {
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  width: 270px;
  margin-bottom: 10px;
  margin-top: 0;
}

.feature__title-text {
  margin-top: 0;
  margin-bottom: 16px;
  line-height: 1.71;
}

.work {
  display: flex;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  gap: 30px;
  letter-spacing: 0.06em;
}

.work__item-overlay {
  position: relative;
  display: flex;
  justify-content: center;
}
.work__item-overlay::before {
  position: absolute;
  content: "";
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  bottom: 0;
}

.work__text-overlay {
  position: absolute;
  color: var(--primary-white-color);
  bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 100%;
}

.staff.section {
  background-color: var(--button-start-color);
}

.staff__list {
  display: flex;
  gap: 30px;
}

.staff__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.staff__title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.12;
  text-align: center;
}

.staff__title-text {
  font-size: 16px;
  line-height: 1.12;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 16px;
  color: var(--primary-text-color);
}

.staff__inner {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--primary-white-color);
  border-radius: 4px;
  width: 270px;
}

.staff__social {
  justify-content: center;
  width: 44px;
  height: 44px;
}

.staff__list-social {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
}

.partner {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.partner__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  color: var(--btn-start-color);
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.partner__link:hover, .partner__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.partner__logo {
  fill: currentColor;
}

.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.footer__list {
  display: flex;
  align-items: baseline;
}

.footer__item {
  margin-right: 70px;
}
.footer__item:first-child {
  margin-left: 0px;
}

.contact {
  margin-top: 20px;
}

.contact__link-adress {
  color: var(--primary-white-color);
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}

.contact__item {
  margin-bottom: 9px;
}

.contact__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer__title {
  color: var(--primary-white-color);
  font-family: "Roboto";
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.container-telegram {
  display: flex;
}

.footer__social {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-right: 93px;
}

.footer__pic {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-left: 10px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__pic:hover, .footer__pic:focus {
  background-color: var(--accent-color);
}
.footer__pic:first-child {
  margin-left: 0px;
}

.footer__icon {
  fill: var(--primary-white-color);
}

.footer__wrap {
  display: flex;
}

.footer__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding-left: 15px;
  color: rgba(255, 255, 255, 0.6);
}

.gallery-list-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.gallery-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.work-list {
  display: flex;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  gap: 30px;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.list-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  gap: 8px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.box-shadow {
  text-decoration: none;
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.box-shadow:hover, .box-shadow:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  border-radius: 0px 0px 4px 4px;
}
.box-shadow:hover .text-descript, .box-shadow:focus .text-descript {
  opacity: 1;
  transform: translateY(0);
}

.portfolio-overlay {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.text-descript {
  position: absolute;
  content: "";
  opacity: 0;
  display: block;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  width: 370px;
  height: 294px;
  color: var(--primary-white-color);
  background: var(--accent-color);
  opacity: 0;
  padding: 63px 24px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.box-list {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--primary-white-color);
  border-radius: 4px;
  width: 270px;
}

.box-list-portfolio {
  display: block;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--primary-white-color);
  background: #FFFFFF;
  transition: background-color;
  transition: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}/*# sourceMappingURL=main.css.map */