
.logo {
    color: var(--logo-color);
    font-family: Raleway, cursive;
    font-style: bold;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;

}


.logo__accent {
    color: var(--accent-color);
}

.logo--footer {
    color: var(--primary-white-color);
    text-decoration: none;
}