html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --primary-text-color: #757575;
    --title-text-color:  #212121;
    --accent-color: #2196F3;
    --logo-color:  black;
    --primary-white-color: #FFFFFF;
    --background-color: #2F303A;
    --button-start-color: #F5F4FA;
    --btn-start-color: #AFB1B8;

}